# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
.venv-1

# Flask
instance/
.webassets-cache

# Database
*.db
database/fraud_detection.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
*.err.log
*.out.log

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
