# Credit Card Fraud Detection System - Requirements

# Web Framework
Flask

# Environment Variables
python-dotenv

# Machine Learning (versions with pre-built wheels)
scikit-learn
pandas
numpy

# Handling Imbalanced Data
imbalanced-learn

# Additional dependencies
joblib
threadpoolctl
